.add-note {
    width: 50%;
    height: 400px;
    border: 1px solid red;
    .add-form {
        padding: 30px 50px;
        .form-input {
            border-radius: 5px;
            border: 2px solid #666;
            padding: 4px 8px;
        }
        .form-title {
        display: flex  ;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
            .form-input{
            width: 277px;
            }
        }
        .form-label {
            font-weight: 500;
        }
        .form-date {
         display: flex  ;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
            .form-input {
                margin-right: 30px;
            }
            .btn {
            background-color: #000;
            color: #fff;
            padding: 4px 24px;
            border-radius: 5px;
            }
            .btn:hover {
                background-color: #666;
            }
        }
        .form-danger {
            display: flex;
            flex-direction: column;
            margin: 20px 0 0 100px;
            color: red;
            font-size: 14px;
            float: left;
            span {
                font-weight: 500;
            }
        }
    }
}
